# Supermarket sales analysis

âœ… ðŸ“Š TASK 1: Basic Exploration
Show the first 5 rows

Show the column names and data types

Check for missing/null values

Find the number of rows and columns

Convert the Date and Time columns to proper datetime objects

âœ… ðŸ“ˆ TASK 2: High-Level Sales Insights
What is the total revenue generated?
(Hint: Use the Total column)

What is the average sale per transaction?

Which payment method is used most?

Which branch has the highest revenue?

âœ… ðŸ“¦ TASK 3: Product Line Performance
What are the top 3 product lines by total sales?

Whatâ€™s the average rating per product line?

Which product line has the most VAT (Tax)?

âœ… ðŸ•’ TASK 4: Time-Based Analysis
Extract day, month, and hour from the Date and Time columns

What is the busiest hour of the day?

Which day of the week has the most sales?

Show monthly sales trend using a groupby

âœ… ðŸŽ¯ TASK 5: Customer Insights
Compare revenue by gender

Compare payment methods by customer type

What is the average gross income by customer type?

ðŸ§ª BONUS: Create a new column Revenue_Per_Item

In [2]:
# import libs
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/home/anis/code/jnotebook/supermarket_sales - Sheet1.csv")
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [5]:
df.shape

(1000, 17)

In [6]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [10]:
df["DateTime"] = pd.to_datetime(df["Date"] + " "+ df["Time"])

In [11]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,DateTime
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05 13:08:00
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,2019-03-08 10:29:00
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03 13:23:00
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27 20:33:00
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08 10:37:00

In [12]:
# total avg revenue generated
df["Total"].mean()

322.966749

In [13]:
df["Payment"].value_counts()

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

Most used payment method : EWallet > Cash > Credit Card

In [19]:
# Branch has the highest revenue
df.groupby("Branch").Total.mean()

Branch
A    312.354031
B    319.872506
C    337.099715
Name: Total, dtype: float64

In [20]:
df["Total"].sum()

322966.749

In [23]:
df.groupby(["Product line"]).Total.sum().sort_values(ascending=False)[:3]

Product line
Food and beverages        56144.8440
Sports and travel         55122.8265
Electronic accessories    54337.5315
Name: Total, dtype: float64

In [26]:
df.groupby(["Product line"]).Rating.mean().sort_values(ascending=False)

Product line
Food and beverages        7.113218
Fashion accessories       7.029213
Health and beauty         7.003289
Electronic accessories    6.924706
Sports and travel         6.916265
Home and lifestyle        6.837500
Name: Rating, dtype: float64

In [27]:
df.groupby(["Product line"])["Tax 5%"].sum().sort_values(ascending=False)

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Health and beauty         2342.5590
Name: Tax 5%, dtype: float64

In [29]:
df.groupby(["DateTime"]).Quantity.sum().sort_values(ascending=False)

DateTime
2019-01-15 15:01:00    20
2019-02-07 11:28:00    18
2019-03-24 18:27:00    15
2019-02-15 20:21:00    11
2019-02-24 18:06:00    10
                       ..
2019-02-05 19:42:00     1
2019-01-31 10:46:00     1
2019-01-22 10:57:00     1
2019-01-14 10:11:00     1
2019-02-23 16:52:00     1
Name: Quantity, Length: 994, dtype: int64

In [32]:
df.groupby("Gender").Total.sum()

Gender
Female    167882.925
Male      155083.824
Name: Total, dtype: float64

In [41]:
df.groupby("Payment")["Customer type"].value_counts()

Payment      Customer type
Cash         Normal           176
             Member           168
Credit card  Member           172
             Normal           139
Ewallet      Normal           184
             Member           161
Name: count, dtype: int64

In [39]:
df.groupby(["Customer type"])["gross income"].sum()

Customer type
Member    7820.164
Normal    7559.205
Name: gross income, dtype: float64

In [42]:
df['Revenue_Per_Item'] = df['Total'] / df['Quantity']

In [43]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,DateTime,Revenue_Per_Item
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05 13:08:00,78.4245
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,2019-03-08 10:29:00,16.0440
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03 13:23:00,48.6465
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27 20:33:00,61.1310
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08 10:37:00,90.6255